{
	email pmh_only@pmh.codes
	acme_dns cloudflare {env.CLOUDFLARE_KEY}
	order minify after encode
	order replace after minify

	servers {
		metrics
	}
}

(commons) {
	encode zstd gzip

	header -Server
	header +Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"

	log {
		output file /var/log/caddy/access.log {
			roll_keep 100
			roll_keep_for 720h
		}

		format transform `{request>remote_ip} - {request>user_id} [{ts}] "{request>method} {request>uri} {request>proto}" {status} {size} "{request>headers>Referer>[0]}" "{request>headers>User-Agent>[0]}"` {
			time_format "02/Jan/2006:15:04:05 -0700"
		}
	}
}

(404index) {
	handle_errors {
		@404 {
			expression {http.error.status_code} == 404
		}

		encode zstd gzip
		minify

		header -Server

		rewrite @404 /index.html
		file_server
	}
}

*.shutupandtakemy.codes {
	import commons
	minify

	root * /var/www/notfounddns
	file_server
}

shutupandtakemy.codes {
	import commons
	import 404index
	minify

	root * /var/www/home

	file_server
	reverse_proxy /v2* registryro:5000
}

www.shutupandtakemy.codes {
	import commons
	minify

	redir https://shutupandtakemy.codes{uri} permanent
}

r.shutupandtakemy.codes {
	import commons
	minify

	replace "r.shutupandtakemy.codes" "shutupandtakemy.codes"

	reverse_proxy regdisplay:8080
	reverse_proxy /v2* registry:5000
}

bitwarden.shutupandtakemy.codes {
	import commons

	reverse_proxy * bitwarden:80
}

chatsolution.shutupandtakemy.codes {
	import commons
	minify

	reverse_proxy chatsolution:80
}

djsgpt.shutupandtakemy.codes {
	import commons
	minify

	reverse_proxy djsgpt-adminer:8080
}

grafana.shutupandtakemy.codes {
	import commons
	minify

	reverse_proxy grafana:3000
}

guessaiword.shutupandtakemy.codes {
	import commons
	minify

	reverse_proxy guessaiword:8080
	reverse_proxy /db* guessaiword-adminer:8080
}

goaccess.shutupandtakemy.codes {
	import commons
	minify

	root * /var/www/report
	file_server
}

hello.shutupandtakemy.codes {
	import commons
	minify

	respond "Hello, world! from caddy2"
}

keysboard.shutupandtakemy.codes {
	import commons
	minify

	reverse_proxy keysboard:3000
}

*.mc.shutupandtakemy.codes mc.shutupandtakemy.codes {
	import commons
	minify

	root * /var/www/mchome
	file_server
}

map.mc.shutupandtakemy.codes {
	import commons
	minify

	reverse_proxy mc-lobby:8100
}

mcmap.shutupandtakemy.codes {
	import commons
	minify

	redir https://map.mc.shutupandtakemy.codes permanent
}

backup.mc.shutupandtakemy.codes {
	import commons
	minify

	root * /mnt/minecraft-backups
	file_server * {
		browse /etc/caddy/templates/backupmc.html
	}
}

*.pmh.codes {
	import commons
	minify

	reverse_proxy / minio:9000 {
		header_up Host "^([^\.]*)\.pmh\.codes$" "$1.s3.pmh.codes"

		@4xx status 4xx
		handle_response @4xx {
			rewrite / /index.html
		}
	}

	reverse_proxy minio:9000 {
		header_up Host "^([^\.]*)\.pmh\.codes$" "$1.s3.pmh.codes"

		@404 status 404
		handle_response @404 {
			respond * ":: 404 ::
Oops, Resource Not Found :(" 404
		}

		@4xx status 4xx
		handle_response @4xx {
			redir https://pmh.codes
		}
	}
}

s3.pmh.codes {
	import commons
	minify
	reverse_proxy minio:9000
}

minio.pmh.codes {
	import commons

	reverse_proxy minio:9001
}

drive.pmh.codes {
	import commons
	minify

	reverse_proxy pydio:8080 {
		transport http {
			tls
			tls_insecure_skip_verify
		}
	}
}

pmh.codes {
	import commons
	minify

	@root_and_query_exists {
		path /
		expression {uri}.contains('?')
	}

	redir /ghost* /

	reverse_proxy ghost:2368
	reverse_proxy @root_and_query_exists supershort:8080
}

www.pmh.codes {
	import commons
	minify

	redir https://pmh.codes{uri} permanent
}

admin.pmh.codes {
	minify
	import commons

	redir / /ghost/
	reverse_proxy ghost:2368
}

portainer.shutupandtakemy.codes {
	import commons
	minify

	reverse_proxy portainer:9000
}

sandbox.shutupandtakemy.codes {
	import commons

	minify
	reverse_proxy host.docker.internal:7682
}

sowonpay.shutupandtakemy.codes {
	import commons
	minify

	reverse_proxy sowon-frontend:8080
	reverse_proxy /api* sowon-backend:8080
	reverse_proxy /db* sowon-adminer:8080
}

speed.shutupandtakemy.codes {
	import commons
	minify

	reverse_proxy speedtest:80
}

tig.shutupandtakemy.codes {
	import commons
	minify

	reverse_proxy buhtig-frontend:3000
	reverse_proxy /api* buhtig-backend:3000
}

wiki.pmh.codes {
	import commons
	minify

	reverse_proxy wiki-frontend
}

maxscale.shutupandtakemy.codes {
	import commons
	minify

	reverse_proxy maxscale:8989
}
