!boom/
boom/*
!seek/
seek/*
!forge/
forge/*
!lobby/
lobby/*
!proxy/
proxy/*
!bedwars/
bedwars/*
!survival/
survival/*
!creative/
creative/*
!boom/Dockerfile
!seek/Dockerfile
!forge/Dockerfile
!lobby/Dockerfile
!proxy/Dockerfile
!bedwars/Dockerfile
!survival/Dockerfile
!creative/Dockerfile
